{#
/**
 * @file
 * Fieldset component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark. Optional.
 * - legend: [string] Legend for the fieldset. Optional.
 * - description: [string] Description for the fieldset. Optional.
 * - message: [string] Message content. Optional.
 * - message_type: [string] Type of the message: error, warning, info, success. Default is error.
 * - fields: [string] Fields content. Optional.
 * - is_required: [boolean] Denote if the fieldset is required. Optional.
 * - form_element_type_class: [string] Class related to the form element type. Optional.
 * - form_element_name_class: [string] Class related to the form element name. Optional.
 * - error_class: [string] Error class for the fieldset. Optional.
 * - attributes: [string] Additional attributes for the fieldset. Optional.
 * - modifier_class: [string] Additional classes. Optional.
 */
#}

{% set required_class = is_required ? 'ct-fieldset--required' : '' %}
{% set message_type = message_type|default('error') %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s %s %s'|format(theme_class, form_element_type_class, form_element_name_class, required_class, error_class, modifier_class|default('')) %}

<fieldset class="ct-fieldset {{ modifier_class }}" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
	{% if legend is not empty %}
		{% include '@atoms/label/label.twig' with {
			theme: theme,
			tag: 'legend',
			size: 'large',
			content: legend,
			is_required: is_required,
			modifier_class: 'ct-fieldset__legend',
		} only %}
	{% endif %}

	<div class="ct-fieldset__wrapper">
		{% if description is not empty %}
			{% include '@atoms/paragraph/paragraph.twig' with {
				theme: theme,
				content: description,
				modifier_class: 'ct-fieldset__description',
			} only %}
		{% endif %}

		{% if message %}
			{% include '@atoms/field-message/field-message.twig' with {
				theme: theme,
				type: message_type,
				content: message,
				modifier_class: 'ct-fieldset__message',
			} only %}
		{% endif %}

		{% block fields %}
			{% if fields is not empty %}
				<div class="ct-fieldset__fields">
					{{ fields }}
				</div>
			{% endif %}
		{% endblock %}
	</div>
</fieldset>
