{#
/**
* @file
* CSSGrid component story.
*/
#}

<div class="example-container">
  <div class="example-container__title">Initially expanded</div>

  <div class="grid-12-5">
    <div class="g-row-1 g-col-1">1, 1</div>
  </div>
</div>
