.editorconfig
.eslintignore
.eslintrc.yml
.gitattributes
.github
.gitignore
.npmignore
.stylelintignore
.stylelintrc.json
.twig-cs-fixer.php
composer.json
jest.config.js
renovate.json
webpack

# Exclude demo assets as they are erroneously located in dist assets.
# @see https://github.com/civictheme/uikit/issues/30
assets/images
assets/videos
