//
// CivicTheme Figure component styles.
//

.ct-figure {
  $root: &;

  margin: 0;
  display: flex;
  flex-direction: column;
  gap: ct-spacing();

  @include ct-reset-margins();

  #{$root}__image {
    border-radius: var(--ct-figure-border-radius);
    object-fit: contain;
  }

  @include ct-figure-alignment();

  #{$root}__caption {
    @include ct-typography('label-small');

    display: flex;
    align-items: center;
    gap: ct-spacing();

    .ct-icon {
      flex-shrink: 0;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    #{$root}__caption {
      @include ct-component-property($root, $theme, caption, color);
    }
  }
}
