//
// Grid component stories.
//

.story-grid-wrapper {
  .container {
    box-shadow: 0 0 ct-particle(0.125) ct-particle(0.125) red inset;
    background-color: white;

    .row,
    ul {
      outline: ct-particle(0.125) solid rgba(#563d7c, 0.1);

      // Column.
      div,
      li {
        outline: ct-particle(0.125) solid rgba(blue, 0.5);
        background-color: rgba(#563d7c, 0.25);

        // Column content.
        span {
          box-shadow: 0 0 0 ct-particle(0.125) green inset;
          background-color: rgba(green, 0.15);
        }
      }
    }
  }
}
