//
// CivicTheme Iframe component styles.
//

.ct-iframe {
  $root: &;

  border: 0;
  box-sizing: border-box;

  &#{$root}--with-background {
    padding-left: var(--ct-iframe-space-horizontal);
    padding-right: var(--ct-iframe-space-horizontal);
  }

  &:not([width]) {
    width: 100%;
  }

  &:not([height]) {
    height: 100%;
  }

  &.ct-iframe--with-background {
    @include ct-component-property($root, wrapper, background-color);
  }
}
