//
// Form mixins.
//

//
// Hide native form control.
//
@mixin ct-form-control-no-appearance() {
  appearance: none;

  // Not removed via appearance.
  margin: 0;
}

//
// Disabled form control.
//
@mixin ct-form-control-disabled($opacity: 40%) {
  &[disabled] {
    opacity: $opacity;
    pointer-events: none;
  }
}
