//
// Image mixins.
//

//
// Fit image into parent object.
//
@mixin ct-image-fit($self: false) {
  @if $self {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @else {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

//
// Fit image into text size.
//
@mixin ct-image-fit-text-size($self: false) {
  @if $self {
    height: 1em;
    width: 1em;
    object-fit: cover;
  }
  @else {
    img {
      height: 1em;
      width: 1em;
      object-fit: cover;
    }
  }
}

//
// Fit image into a container.
//
@mixin ct-image-fit-container() {
  @include ct-image-fit();

  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

//
// Fit image into a square container.
//
@mixin ct-image-container-square() {
  @include ct-image-fit();

  position: relative;
  width: 100%;
  padding-top: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

//
// Drop shadow for image.
//
@mixin ct-image-shadow($color, $up: true, $offset-x: ct-particle(2), $offset-y: ct-particle(2)) {
  $multiplier: 1;

  @if $up {
    $multiplier: -1;
  }

  filter: drop-shadow(-1 * $offset-x $multiplier * $offset-y 0 $color);
}

//
// String to set SVG viewbox.
//
@function ct-svg-viewbox($svg, $value) {
  @return ct-str-replace($svg, "viewBox=''", "viewBox='#{$value}'");
}
