//
// CivicTheme Campaign component styles.
//

@use 'sass:map';

.ct-campaign {
  $root: &;

  #{$root}__image {
    @include ct-image-fit();

    height: var(--ct-campaign-mobile-height);
    margin-bottom: ct-spacing(3);

    img {
      border-radius: var(--ct-campaign-image-border-radius);
    }

    @include ct-breakpoint(m) {
      @include ct-image-container-square();
    }
  }

  #{$root}__inner {
    > * {
      margin-bottom: ct-spacing(3);
    }

    > #{$root}__title {
      @include ct-typography('heading-3');

      @include ct-breakpoint(m) {
        @include ct-typography('heading-2');
      }
    }

    > #{$root}__tags {
      @include ct-breakpoint(m) {
        margin-bottom: ct-spacing(4);
      }
    }

    > #{$root}__content {
      @include ct-breakpoint(m) {
        margin-bottom: ct-spacing(4);
      }
    }

    > #{$root}__links {
      margin-bottom: 0;

      @include ct-breakpoint(m) {
        margin-bottom: 0;
      }
    }
  }

  #{$root}__links {
    > * {
      display: flex;
      align-items: center;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);

    #{$root}__image {
      border-radius: calc(var(--ct-campaign-image-border-radius) + var(--ct-campaign-mobile-image-shadow-inset));
      box-shadow: 0 calc(var(--ct-campaign-mobile-image-shadow-offset-y) + var(--ct-campaign-mobile-image-shadow-inset)) 0 calc(-1 * var(--ct-campaign-mobile-image-shadow-inset)) ct-component-var($root, $theme, image, shadow-color);

      @include ct-breakpoint(m) {
        border-radius: 0;
        box-shadow: none;
      }
    }

    &.ct-campaign--image-left {
      .ct-campaign__image {
        @include ct-breakpoint(m) {
          @include ct-image-shadow(ct-component-var($root, $theme, image, shadow-color), 'down-right', var(--ct-campaign-image-shadow-offset-x), var(--ct-campaign-image-shadow-offset-y));
        }
      }
    }

    &.ct-campaign--image-right {
      .ct-campaign__image {
        @include ct-breakpoint(m) {
          @include ct-image-shadow(ct-component-var($root, $theme, image, shadow-color), 'down-left', var(--ct-campaign-image-shadow-offset-x), var(--ct-campaign-image-shadow-offset-y));
        }
      }
    }
  }
}
