//
// Header component.
//

.ct-header {
  $root: &;

  border-bottom: solid ct-particle(0.125);

  &__content-top2 {
    margin-top: ct-spacing();
    margin-bottom: ct-spacing();
  }

  &__content-top3 {
    margin-top: ct-spacing();
    margin-bottom: ct-spacing();
  }

  &__middle {
    padding-top: ct-particle(2);
    padding-bottom: ct-particle(2);
  }

  &__bottom {
    padding-bottom: ct-particle(2);
  }

  &__content-middle2 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__content-middle3 {
    .ct-button {
      margin-left: ct-particle(1);
    }
  }

  &__content-bottom1,
  &__content-middle3 {
    @include ct-print-hide();

    & {
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, border-color);

    #{$root}__top {
      @include ct-component-property($root, $theme, top, background-color);
      @include ct-component-property($root, $theme, top, color);
    }

    #{$root}__bottom,
    #{$root}__middle {
      @include ct-component-property($root, $theme, middle, background-color);
      @include ct-component-property($root, $theme, middle, border-color);
    }
  }
}
