//
// CivicTheme Table component styles.
//

.ct-table {
  $root: &;

  @include ct-table();

  & {
    @include ct-table-colors();
  }

  &--wrapper {
    overflow: auto;
    max-width: 100vw;
  }
}
