//
// CivicTheme Callout component styles.
//

.ct-callout {
  $root: &;

  &__wrapper {
    border-radius: var(--ct-callout-border-radius);
    padding: ct-spacing(3) ct-spacing(3) ct-spacing(3) calc(ct-spacing(3) + var(--ct-callout-stripe-width));
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: ct-spacing(2);
    background-color: var(--ct-callout-background-color);

    @include ct-breakpoint(m) {
      padding: ct-spacing(4) ct-spacing(4) ct-spacing(4) calc(ct-spacing(4) + var(--ct-callout-stripe-width));
    }

    @include ct-highlight-stripe-vertical(var(--ct-callout-stripe-width), var(--ct-callout-border-radius), 0);
    @include ct-highlight-stripe-background-color(var(--ct-callout-stripe-background-color));
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: ct-spacing(1.5);

    @include ct-breakpoint(m) {
      gap: ct-spacing(2);
    }
  }

}
