{#
/**
 * @file
 * Selected filters component.
 *
 * Variables:
 * - theme [string]: Theme: 'light', 'dark'.
 * - id [string]: Id for selected filters.
 * - title [string]: Title of the selected filters section.
 * - filters [string]: Array of filter objects with url, text, and label properties.
 * - clear_link [object]: Clear all link configuration.
 *   - text [string]: Text of the clear all link.
 *   - url [string]: URL of the clear all link.
 *   - type [string]: Type of the clear all link: 'primary', 'secondary'.
 *   - icon [string]: Icon of the clear all link.
 *   - icon_placement [string]: Icon placement of the clear all link: 'before', 'after'.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes
 */
#}

{% set id = id|default('selected-filters') %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

<div class="ct-selected-filters {{ modifier_class -}}" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
  <div class="ct-selected-filters__active-filters">
    <div class="ct-selected-filters__title" id="{{ id }}">{{ title }}</div>
    {% set items = [] %}
    {% for filter in filters %}
      {% set filter_item %}
        {% include '@atoms/chip/chip.twig' with {
          kind: 'link',
          theme: theme,
          content: filter.text,
          is_dismissible: true,
          is_selected: true,
          url: filter.url,
          size: 'small',
          label: filter.label|default('Remove filter: ' ~ filter.text),
        } only %}
      {% endset %}
      {% set items = items|merge([filter_item]) %}
    {% endfor %}
    {% include '@base/item-list/item-list.twig' with {
      theme: theme,
      direction: 'horizontal',
      size: 'small',
      items: items,
      modifier_class: 'ct-selected-filters__list',
      attributes: 'aria-labelledby="' ~ id ~ '"',
    } only %}
  </div>
  {% if clear_link %}
    <div class="ct-selected-filters__clear">
      {% include '@atoms/button/button.twig' with {
        theme: theme,
        kind: 'link',
        type: clear_link.type|default('secondary'),
        size: 'small',
        icon: clear_link.icon|default('close-outline'),
        icon_placement: clear_link.icon_placement|default('after'),
        text: clear_link.text|default('Clear all'),
        url: clear_link.url,
      } only %}
    </div>
  {% endif %}
</div>
