//
// CivicTheme Tag component styles.
//

.ct-tag {
  $root: &;

  display: inline-flex;
  align-items: center;
  gap: ct-spacing(0.5);

  @include ct-typography('label-small');
  @include ct-link-no-decoration();

  &--icon-before {
    .ct-icon {
      @include ct-icon-size('small');
    }
  }

  &--icon-after {
    .ct-icon {
      @include ct-icon-size('small');
    }
  }

  &#{$root}--primary,
  &#{$root}--secondary {
    border-radius: var(--ct-tag-border-radius);
    border-style: solid;
    border-width: var(--ct-tag-border-width);
    padding: ct-spacing(0.375) ct-spacing(0.875);
  }

  .ct-icon {
    flex-shrink: 0;
  }

  @include ct-component-theme($root) using($root, $theme) {
    &#{$root}--primary {
      @include ct-component-property($root, $theme, primary, background-color);
      @include ct-component-property($root, $theme, primary, border-color);
      @include ct-component-property($root, $theme, primary, color);
    }

    &#{$root}--secondary {
      @include ct-component-property($root, $theme, secondary, background-color);
      @include ct-component-property($root, $theme, secondary, border-color);
      @include ct-component-property($root, $theme, secondary, color);
    }

    &#{$root}--tertiary {
      @include ct-component-property($root, $theme, tertiary, background-color);
      @include ct-component-property($root, $theme, tertiary, border-color);
      @include ct-component-property($root, $theme, tertiary, color);
    }
  }
}
