//
// CivicTheme Quote component.
//

.ct-quote {
  $root: &;

  @include ct-typography('quote');
  @include ct-highlight-stripe-vertical($ct-quote-border-width, 0, 0);

  position: relative;
  padding: ct-spacing(2) ct-spacing(3) ct-spacing(2) ct-spacing(5);
  margin-bottom: 0;
  display: grid;

  p {
    @include ct-typography('quote');

    margin-bottom: 0;
  }

  cite {
    @include ct-typography('label-small');

    padding: ct-spacing(2) ct-spacing(3) ct-spacing(1) 0;
    font-style: normal;

    &::before {
      content: '-';
      margin-right: ct-spacing(0.5);
    }
  }

  @include ct-component-theme($root) using($root, $theme) {
    @include ct-component-property($root, $theme, background-color);
    @include ct-component-property($root, $theme, body, color);
    @include ct-highlight-stripe-background-color(ct-component-var($root, $theme, stripe, background-color));

    cite {
      @include ct-component-property($root, $theme, author, color);
    }
  }
}
