name: Release Storybook

on:
  push:
    tags:
      - '*'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  release-storybook:
    runs-on: ubuntu-latest
    steps:
      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          path: packages/twig/storybook-static
          install_command: npm install --workspaces && npm install
